.body {
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.midSection {
  align-items: center;
}

.firstBox:first-child {
  margin-right: 16px;
}

.midBox {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.midBox::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 765px) {
  .avatar {
    width: 80px;
  }
  .subText {
    margin-left: 4px;
  }
  .firstBox {
    width: 100%;
    margin-bottom: 16px;
  }
  .sectioncontainer {
    width: 100%;
  }
  .bottomBox {
    width: 100%;
  }
  .shareContainer {
    width: 100%;
  }
  .bottomSection {
    flex-direction: column;
  }
  .midBox {
    grid-template-columns: auto;
    overflow-x: auto;
  }

  .tabcontainer {
    flex-direction: column;
  }

  .SecondBox {
    width: 100%;
  }

  .tabcontainer > div {
    margin-bottom: 1em;
    margin-right: 0;
  }
}

