.body {
  background-image: linear-gradient(
    15.74deg,
    rgba(46, 45, 102, 0.6) -2.5%,
    rgba(58, 39, 63, 0.6) 47.55%,
    #181818 90.7%
  );
  padding: 1em;
  padding-top: 100px;
  background-size: 10000px;
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
}

.avatar {
  position: absolute;
  bottom: -57px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.midSection {
  align-items: center;
}

.headerText {
  color: white;
  font-size: 2em;
}

.subText {
  color: white;
  font-size: 12px;
}

.box {
  background-color: #0d0d0d;
}

.bottomSection {
  justify-content: center;
}

.firstBox {
  background: rgba(13, 13, 13, 0.5);
  width: 600px;
  border-radius: 4px;
  height: fit-content;
}

.SecondBox {
  background: rgba(13, 13, 13, 0.5);
  width: 600px;
  border-radius: 4px;
}

.bottomBox {
  background: rgba(13, 13, 13, 0.5);
  width: 600px;
  border-radius: 4px;
}

.firstBox:first-child {
  margin-right: 16px;
}

.midText {
  width: 90%;
}

.shareContainer {
  width: 20em;
}

.midBox {
  height: 350px;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .avatar {
    width: 80px;
  }
  .box {
    padding: 8px;
  }
  .subText {
    margin-left: 4px;
  }
  .firstBox {
    width: 100%;
    margin-bottom: 16px;
  }
  .SecondBox {
    width: 100%;
  }
  .bottomBox {
    width: 100%;
  }
  .midText {
    width: 100%;
    text-align: start;
  }
  .shareContainer {
    width: 100%;
  }
  .bottomSection {
    flex-direction: column;
  }
  .midBox {
    grid-template-columns: auto;
  }
}
