.mobileRightContainer {
  display: none;
  position: relative;
}

.mobileMenu {
  display: none;
}

.open {
  display: block;
  height: fit-content;
  transition: height 300ms ease-in-out;
}

@media screen and (max-width: 600px) {
  .rightContainer {
    display: none;
  }
  .mobileRightContainer {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 1024px;
  }
  .mobileMenu {
    display: none
  }
}